/* shared styles */

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color-linear {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* header styles */

/* nav section */
.nav-container {
  display: flex;
  max-width: 1400px;
  margin: 20px auto 20px;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 45px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}
.fa-brands {
  margin-right: 10px;
  margin-left: 10px;
}
.nav-menu a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.nav-btn {
  font-size: 18px;
  color: #3c354f;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
  text-align: center;
  cursor: pointer;
}
.g-color {
  color: #ff42a5;
  margin-left: 10px;
}
/* nav section ends */
.banner-list {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.banner-list-desc {
  margin-left: 10px;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0px auto;
  width: 100%;
}

.banner-content {
  background-image: url(../images/Group\ 14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  padding: 50px 50px;
  margin-right: 50px;
}
.banner-title-1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title-2 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
.banner-btn-1 {
  padding: 20px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-btn-2 {
  padding: 20px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 10px;
}
/* online games section style */

.online-games-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.online-games-img {
  width: 342px;
  height: 400px;
  position: relative;
}
.online-games-img img {
  width: 100%;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  border: 2px solid slateblue;
  overflow: hidden;
}
.img-overlay {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.img-overlay a {
  width: 40px;
  height: 40px;
  display: block;
}
.overlay-title {
  color: #f948b2;
}
.img-overlay,
a,
.overlay-title {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.online-games-img:hover .img-overlay {
  opacity: 1;
  visibility: visible;
}

.online-games-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
.online-games-desk {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
/* play instantly section */
.play-instantly-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 150px;
}
.play-instantly-content {
  margin-right: 100px;
}
.play-ins-desc {
  color: #534c64;
  text-align: end;
  font-size: 18px;
}
.play-instantly-content h3 {
  font-size: 48px;
  font-weight: 700;
  color: #0b0223;
  text-align: end;
  margin-bottom: 40px;
}

.play-instantly-img {
  width: 400px;
  height: 400px;
}
.play-instantly-img img {
  width: 100%;
}
.mini-img {
  width: 150px;
  position: relative;
  bottom: 100px;
  right: 70px;
}
.btn-title {
  text-align: center;
}
.icon-hover-container {
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;
}
.icon-hover-container:hover {
  border: 1px solid #f948b2;
  color: #f948b2;
}
.hyper-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.first-hyper {
  margin-top: 100px;
  margin-bottom: 40px;
}
footer {
  background-color: #0b0223;
  min-height: 400px;
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  padding-top: 50px;
}
.footer-img {
  display: flex;
  align-items: center;
}
.footer-title {
  font-size: 20px;
}
.footer-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #fff;
  text-align: center;
}
.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
}
.social-list a {
  color: #fff;
  font-size: 30px;
}
.color-f {
  color: skyblue;
}
.color-y {
  color: red;
}
.settings-and-others {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}
.settings-and-others a {
  color: #fff;
}

.footer-desc {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

/* responsive media queries */
/* for mobile device */
@media screen and (max-width: 576px) {
  .play-instantly-container,
  .nav-menu,
  .nav-container {
    flex-direction: column;
  }
  .nav-logo {
    margin: auto;
  }
  .nav-menu a {
    margin-top: 20px;
  }
  .nav-menu {
    width: 100%;
  }
  .banner-container {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }
  .banner-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 40px;
  }
  .banner-list {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    margin: auto;
  }

  .banner-title-2 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .banner-title-1 {
    font-size: 35px;
  }
  .banner-btn-1,
  .banner-btn-2 {
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 16px;
  }
  .img-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 auto;
  }
  .online-games-title {
    font-size: 30px;
  }
  .online-games-desk {
    font-size: 16px;
  }
  .play-instantly-content,
  .play-ins-desc,
  .play-instantly-content h3 {
    text-align: center;
    margin: auto;
  }
  .play-instantly-img {
    width: 300px;
    height: 300px;
  }
  .mini-img {
    width: 100px;
    position: relative;
    bottom: 100px;
    right: 50px;
  }
  .hyper-btn {
    flex-direction: column;
  }
  .footer-container{
    flex-direction: column;
  }
  .footer-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .settings-and-others{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

/* for tablet device */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-logo {
    margin: auto;
  }
  .nav-menu {
    width: 100%;
  }
  .banner-container {
    flex-direction: column;
    width: 100%;
    margin: 40px auto;
  }
  .banner-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .banner-btn-1 {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
    border: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-btn-2 {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
  }
  .banner-img {
    width: 100%;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 auto;
  }
  .play-instantly-container {
    flex-direction: column-reverse;
  }
  .play-instantly-img {
    margin-bottom: 100px;
  }
  .play-instantly-content,
  .play-ins-desc,
  .play-instantly-content h3 {
    text-align: center;
    margin: auto;
  }
  .hyper-btn {
    flex-wrap: wrap;
  }
  
  .hyper-btn {
    flex-wrap: wrap;
  }
}
